body {
    background-color: rgb(226, 200, 168);
}

h1 {
    color:black;
    text-align: center;
}

body {
    margin:20px;
}

blockquote {
    font: Serif;
    font-size: 1.2em;
    color:rgb(238, 138, 138);
    text-align: center;
    padding: 0;

}

footer{

    height:40px;

}

#circut-right{
    position:absolute;
    top: 7.5%;
    left:1%;
}

#circut-left{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    position:absolute;
    top: 7.5%;
    left:62%;
}

#profilePic{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
    height: 300px;
    width:300px;
}

#vidWrapper{
    margin: auto;
    width:fit-content;
    height:fit-content;
}

.box-a{

    grid-column: 2 /span 1;
    grid-row: 1 / span 2;
    background-color:goldenrod;
    color: #fff;
    border-radius: 4px;
    padding: 20px;
    font-size: 150%;
    cursor: pointer;
}

.box-b{
    grid-column: 3 /span 1;
    grid-row: 1 / span 2;
    background-color: blue;
    color: #fff;
    border-radius: 4px;
    padding: 20px;
    font-size: 150%;
    cursor: pointer;
}
.box-c{
    grid-column: 4 /span 1;
    grid-row: 1 / span 2;
    background-color: rgb(145, 13, 13);
    color: #fff;
    border-radius: 4px;
    padding: 20px;
    font-size: 150%;
    cursor: pointer;
}

.box-d{

    grid-column: 2 /span 1;
    grid-row: 3 / span 2;
    background-color:#444;
    color: #fff;
    border-radius: 4px;
    padding: 20px;
    font-size: 150%;
    cursor: pointer;
}

.box-e{
    grid-column: 3 /span 1;
    grid-row: 3 / span 2;
    background-color: #444;
    color: #fff;
    border-radius: 4px;
    padding: 20px;
    font-size: 150%;
    cursor: pointer;
}
.box-f{
    grid-column: 4 /span 1;
    grid-row: 3 / span 2;
    background-color: #444;
    color: #fff;
    border-radius: 4px;
    padding: 20px;
    font-size: 150%;
    cursor: pointer;

}



.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 6px;
    background-color: #fff;
    color: #444;
    text-align: center;
  }

  
  .box {
    background-color: #444;
    color: #fff;
    border-radius: 4px;
    padding: 20px;
    font-size: 150%;
  }

  /* Example
  .l {
      grid-column: 2 /span 5;
      grid-row: 2 / span 11;
  } */